server/CarShop.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"   
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:tns="http://localhost/public_html/MYPHP/soap2/server/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             name="CarShop"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

             <!-- types  declaration-->
    <types>
        <xs:schema elementFormDefault="qualified"
                   targetNamespace="http://localhost/public_html/MYPHP/soap2/server/">

            <xs:complexType name="Car">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="brand" type="xs:string"/>
                    <xs:element name="model" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="CarListResponse">
                <xs:complexType name="CarList">
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="unbounded" name="cars" type="Car"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getCarsByParametersResponseArray">
                <xs:complexType name="AllDetailsList">
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="unbounded" name="cars" type="AllDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="Details">
                <xs:all>
                    <xs:element name='id' type="xs:string"/>
                    <xs:element name='model' type="xs:string"/>
                    <xs:element name='year' type="xs:string"/>
                    <xs:element name='motor' type="xs:string"/>
                    <xs:element name='color' type="xs:string"/>
                    <xs:element name='speed'  type="xs:string"/>
                    <xs:element name='price' type="xs:string"/>
                </xs:all>
            </xs:complexType>

        <xs:simpleType name="Payment">
            <xs:restriction base="string">
                <xs:enumeration value="cash"/>
                <xs:enumeration value="creditCard"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:element name="OrderDataObject">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name='idCar' type="xs:string"/>
                    <xs:element name='uname' type="xs:string"/>
                    <xs:element name='ulname' type="xs:string"/>
                    <xs:element name='payment' type="Payment"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="DetailsObject">
            <xs:complexType name="Details">
                <xs:sequence>
                    <xs:element name='model' minOccurs="0" type="xs:string"/>
                    <xs:element name='year'  minOccurs="1" type="xs:string"/>
                    <xs:element name='motor' minOccurs="0" type="xs:string"/>
                    <xs:element name='color' minOccurs="0" type="xs:string"/>
                    <xs:element name='speed' minOccurs="0" type="xs:string"/>
                    <xs:element name='price' minOccurs="0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        </xs:schema>
    </types>

    <!-- message type declaration -->
    <message name="getCarListRequest">
    </message>

    <message name="getCarListResponse">
        <part name="CarListResponse" element="tns:CarListResponse"/>
    </message>

    <message name="getCarDetailsRequest">
        <part name='carId' type='xs:string' />
    </message>

    <message name="getCarDetailsResponse">
        <part name="CarDetailsResponse" element="tns:DetailsResponse" />
    </message>

    <message name="getCarsByParametersRequest">
        <part name='reqGetCarsByParameters' element="tns:DetailsObject" />
    </message>

    <message name="getCarsByParametersResponse">
        <part name="resGetCarsByParameters" element="tns:getCarsByParametersResponseArray" />
    </message>

    <message name="addOrderRequest">
        <part name='objOrderData' element="tns:OrderDataObject" />
    </message>

    <message name="addOrderResponse">
        <part name="status"  type="xs:boolean" />
    </message>


    <!-- operation message declaration -->
    <portType name="CarShopPortType">

        <operation name="getCarList">
            <input message="tns:getCarListRequest" />
            <output message="tns:getCarListResponse" />
        </operation>

        <operation name="getCarDetails">
            <input message="tns:getCarDetailsRequest" />
            <output message="tns:getCarDetailsResponse" />
        </operation>

        <operation name="getCarsByParameters">
            <input message="tns:getCarsByParametersRequest" />
            <output message="tns:getCarsByParametersResponse" />
        </operation>

        <operation name="addOrder">
            <input message="tns:addOrderRequest" />
            <output message="tns:addOrderResponse" />
        </operation>

    </portType>

    <!-- Service operations declaration -->
    <binding name="CarShopBinding" type="tns:CarShopPortType">
        <soap:binding style='rpc' transport="http://schemas.xmlsoap.org/soap/http" />

        <operation name="getCarList">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="getCarDetails">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="getCarsByParameters">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="addOrder">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- service declaration -->
    <service name="CarShop">
        <port name="CarShopPort" binding="tns:CarShopBinding">
            <soap:address location="http://localhost/public_html/MYPHP/soap2/server/index.php" />
        </port>
    </service>
</definitions>